body {
    font-family:'Montserrat', sans-serif;
    background-image: url("photo.jpg");
    background-size: cover;
    background-position: center;
    color: #49130c;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-image: url("navbar-background.jpg");
    background-size: cover;
    background-position: center;
    background-color: #fbdcad;
}

.navbar img {
    max-height: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar a:hover {
    color: #007bff;
}

header {
    background-color: #f5a623;  
    padding: 10px 0;
}

.container {
    margin-top: 20px;
}

h1 {
    color: #f5a623;
    text-decoration: underline;
}

.panel {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.panel img {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.panel-body {
    padding: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f5a623;
    color: #fff;
}

footer h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}
